<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mix CSV Files</title>
</head>
<body>
<h1>Mix CSV Files</h1>
<form action="/result" method="post">
    <label for="countInput">Enter the count of rows to mix: </label>
    <input type="number" name="countOfRows" id="countInput">
    <br>
    <label for="fileNameInput">Enter result file name</label>
    <input type="text" name="resultFileName" id="fileNameInput">
    <br>
    <button type="submit">Mix!</button>
</form>
</body>
</html>